version: "3.8"
services:
  shipment-api:
    image: sylwiakubicz/shipment-api:0.1.0
    ports:
     - "8080:8080"
    container_name: shipment-api
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_db:5432/shipment
      SPRING_DATASOURCE_USERNAME: postgres
    secrets:
      - db_password


  tracking-service:
    image: sylwiakubicz/tracking:0.2.0
    ports:
     - "8085:8085"
    container_name: tracking-service
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      APICURIO_URL: "http://apicurio:8080/apis/registry/v2"
      IQ_HOST: "tracking-service"
      KAFKA_APPLICATION_ID: "parcelhub-tracking-service-v2"
      KAFKA_BOOTSTRAP_SERVERS: "kafka-1:9092,kafka-2:9092,kafka-3:9092"
      KAFKA_STATE_DIR: "/var/lib/kafka-streams/state"
      SERVER_PORT: 8085
      STORE_NAME: "tracking-state"
      TOPIC_SHIPMENT_EVENTS: "shipment-events"
      TOPIC_SHIPMENT_TRACKING: "shipment-tracking"
      TOPIC_TRACKING_UPDATES: "tracking-updates"
    volumes:
      - tracking-state:/var/lib/kafka-streams/state

  locker-gateway:
    image: sylwiakubicz/locker:0.1.0
    ports:
      - "8082:8082"
    container_name: locker-gateway
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      APICURIO_URL: "http://apicurio:8080/apis/registry/v2"
      IQ_HOST: "locker-gateway"
      KAFKA_BOOTSTRAP_SERVERS: "kafka-1:9092,kafka-2:9092,kafka-3:9092"
      KAFKA_APPLICATION_ID: "parcelhub-locker-gateway-service"
      SERVER_PORT: 8082
      TOPIC_SHIPMENT_EVENTS: "shipment-events"
      TOPIC_SCAN_EVENTS_LOCKER: "scan-events.locker"
      TRACKING_URL: "http://tracking-service:8087/shipments"
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_db:5432/shipment
      SPRING_DATASOURCE_USERNAME: postgres
    secrets:
      - db_password
      - hash_secret



networks:
  default:
    external: true
    name: parcelhub_network

secrets:
  db_password:
    file: ../../secrets/postgres_password.txt
  hash_secret:
    file: ../../secrets/hash_secret.txt

volumes:
  tracking-state: